@tailwind base;
@tailwind components;
@tailwind utilities;
/* Custom scrollbar hide для галереї */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
